/* //////////////// */
/*        共通　　　 */
/* /////////////// */
body {
    text-align: center;
}
/* タイトル */
h1 {
    margin-top: 1em;
    
}

/* ////////////////
/*    検索　　　　　　*/
/* /////////////// */
/* #search-input, #search-buttom{
    /* 高さに影響するプロパティが同じ値であることを確認 */
    /* line-height: 1.2;
    display:inline-block;
    vertical-align:middle; 
} */ 

/* //////////////// */
/*        入力欄　　 */
/* /////////////// */
/* 保存、削除、読み込みボタン */
#save, #load, #clear {
    margin-top: 0.5em;
} 

/* //////////////// */
/*        保存先　　 */
/* /////////////// */

/* //////////////// */
/*     　読み込み先　 */
/* /////////////// */

